
/* global */
*{
  /* box-sizing: border-box; */
}

.ball {
  position: absolute;
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 100%;
  left: 150px;
  animation: up-move 5s linear infinite,
             side-move 5s linear infinite;
}

@keyframes up-move {
  0% {top: 0px;}
  5% {top: 50px}
  10% {top: 150px;}
  15% {top: 250px;}
  20% {top: 350px;}

  25% {top: 280px;}
  30% {top: 250px;}
  35% {top: 350px;}
  40% {top: 400px;}

  45% {top: 300px;}
  50% {top: 350px;}
  55% {top: 400px;}
  60% {top: 450px;}

  65% {top: 350px;}
  70% {top: 400px;}
  75% {top: 450px;}
  80% {top: 500px;}

  85% {top: 400px;}
  90% {top: 450px;}
  95% {top: 500px;}
  97% {top: 550px;}
  100% {top: 540px;}
}
@keyframes side-move {
  0% {
    left: 170px;
  }
  20% {
    left: 170px;
  }
  40% {
    left: 370px;
  }
  60% {
    left: 570px;
  }
  80% {
    left: 770px;
  }
  100% {
    left: 970px;
  }
}
.place1 {
  background-color: blue;
  position: absolute;
  width: 100px;
  height: 400px;
  top: 450px;
  left: 170px;
}
.place2 {
  background-color: blue;
  position: absolute;
  width: 100px;
  height: 350px;
  top: 500px;
  left: 370px;
}
.place3 {
  background-color: blue;
  position: absolute;
  width: 100px;
  height: 300px;
  top: 550px;
  left: 570px;
}
.place4 {
  background-color: blue;
  position: absolute;
  width: 100px;
  height: 250px;
  top: 600px;
  left: 770px;
}
.place5 {
  background-color: blue;
  position: absolute;
  width: 100px;
  height: 200px;
  top: 650px;
  left: 970px;
}