.main {
	margin: 0 auto;
}
table {
    margin: 0 auto;
	border-collapse: collapse;
	border: 1px solid black;
}
td {
	border: 2px solid black;
	width: 100px;
	height: 40px;
}
tr:nth-child(2n) {
	background-color: yellow;
}
tr:last-child {
	background-color: red;
}
td:hover {
    outline: 5px solid blue;
    outline-offset: -5px;
    outline-style: outset;
}