/* button {
  width: 100px;
  height: 50px;
  border-radius: 25px;
} */

.main {
  width: 500px;
  height: 300px;
  border: 1px solid black;
}
.test {
  width: 50px;
  height: 50px;
  background-color: blanchedalmond;
}

.btn-yes {
  width: 100px;
  height: 60px;
  background-color: rgb(112, 187, 36);
}
.btn-no {
  width: 100px;
  height: 60px;
  background-color: crimson;
}
.result-yes, .result-no {
  height: 50px;
}