@font-face {
  font-family: "Google Sans";
  src: url('../fonts/GoogleSans-Bold.woff');
}

body {
  width: 1926px;
  background-color: #E5E5E5;
  margin: 0 auto;
}
div {
  /* border: 1px solid black; */
}

.head {
  position: relative;
  width: 1926px;
  height: 36px;
  left: -7px;
  display: flex;
}
.sv {
  position: absolute;
  width: 109px;
  height: 18px;
  left: 1335px;
  top: 10px;
  font-family: "Google Sans";
  font-size: 14px;
  line-height: 17px;
  color: #4F4F4F;
}
.in {
  position: absolute;
  width: 42px;
  height: 18px;
  left: 1481px;
  top: 10px;
  font-family: "Google Sans";
  font-size: 14px;
  line-height: 17px;
  color: #4F4F4F;
}

.head1 {
  position: relative;
  display: flex;
  width: 1926px;
  height: 83px;
  background-color: white;

}
.vector {
  position: absolute;
}
.sigma {
  position: absolute;
  width: 145px;
  height: 17px;
  top: 33px;
  left: 447px;
  color: #745ACD;
  font-family: "Google Sans";
  font-size: 23px;
  line-height: 17px;
}
input {
  position: absolute;
  width: 644px;
  height: 38px;
  top: 20px;
  left: 627px;
  border-radius: 3px;
  font-family: "Google Sans";
  font-size: 15px;
  line-height: 17px;

}
button {
  position: absolute;
  width: 218px;
  height: 44px;
  top: 20px;
  left: 1297px;
  border-radius: 3px;
  font-family: "Google Sans";
  font-size: 14px;
  color: white;
  background: #745ACD

}

.menu {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1110px;
  height: 220px;
  left: 405px;
}
.elem {
  width: 358px;
  height: 169px;
  border-radius: 5px;
}
.phone {
  background-image: url('../images/phone.png');
  background-position: right;
  background-repeat: no-repeat;
  background-color: #FF9191;
}
.auto {
  background-image: url('../images/auto.png');
  background-position: right;
  background-repeat: no-repeat;
  background-color: #56CCF2;
}
.sp, .au {
  width: 150px;
  height: 168px;
}
.text1, .textauto1  {
  color: white;
  font-family: "Google Sans";
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  margin-top: 104px;
}
.text2, .textauto2 {
  color: white;
  font-family: "Google Sans";
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  margin-top: 5px;
}
