.main {
    margin: 0 auto;
    width: 1200px;
    background-color: #f0e4cc;
}
.main-in {
    margin: 0 auto;
    width: 1000px;
}
header {
    margin: 0 auto;
    height: 130px;
    width: 1200px;
    background-image: url(../images/header.png);
}
.header-up {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 1000px;
}
.header-up-logo {
    background-image: url(../images/logo.png);
    height: 54px;
    width: 98px;
}
.header-up-login {
    display: flex;
    justify-content: space-between;
    width: 310px;
}
.header-up-login-image {
    background-image: url(../images/login.png);
    width: 62px;
    height: 23px;
}
.header-down {
    margin: 0 auto;
    height: 50px;
    width: 1000px;
    color: white;
}
.header-down-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 400px;
}
.icon {
    width: 21px;
    height: 22px;
    background-image: url(../images/icon.png);
}
.flex-box-1 {
    margin: 0 auto;
    width: 1000px;
    height: 360px;
    display: flex;
    justify-content: space-between
}
.flex-box-1-colum-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 520px;
    font-size: 25px;
}
.flex-box-1-colum-1-in {
    height: 130px;
    
}
.flex-box-1-colum-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 410px;
}
.flex-box-1-colum-2-in {
    height: 100px;
    font-size: 20px;
}
.flex-box-1-colum-2-input {
    height: 180px;
}
.input {
    width: 410px;
}
button {
    width: 200px;
    height: 45px;
    border-radius: 25px;
    background: rgb(199, 50, 52);
}
button:hover {
    background: rgb(165, 23, 22);
}
.flex-box-2 {
    width: 1000px;
    height: 350px;
}
.flex-box-2-row-1 {
    display: flex;
    justify-content: space-between;
    height: 40px;
}
.box-1 {
    width: 280px;
    height: 40px;
}
.flex-box-2-row-2 {
    display: flex;
    justify-content: space-between;
    height: 175px;
}
.row-box-1{
    width: 280px;
    height: 175px;
    background-image: url(../images/place.png);
}
.row-box-2 {
    width: 280px;
    height: 175px;
    background-image: url(../images/food.png);
}
.row-box-3 {
    width: 280px;
    height: 175px;
    background-image: url(../images/peaple.png);
}
.flex-box-2-row-3 {
    display: flex;
    justify-content: space-between;
    height: 135px;
}
.box-3 {
    width: 280px;
    height: 135px;
}
.partners {
    margin: 0 auto;
    width: 1200px;
    height: 185px;
    background-image: url(../images/partners.png);
}
.text {
    height: 70px;
    width: 280px;
    color: #a75b1d;
    font-size: 2.1em;
}
.partners-in {
    margin: 0 auto;
    width: 1000px;
    height: 185px;
}
.flex-box-3 {
    width: 1000px;
    height: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.tinkoff {
    width: 96px;
    height: 53px;
    background-image: url(../images/tinkoff.png);
}
.yakitiria {
    width: 138px;
    height: 62px;
    background-image: url(../images/yakitiria.png);
}
.tanuki {
    width: 123px;
    height: 64px;
    background-image: url(../images/tanuki.png);
}
.murakami {
    width: 67px;
    height: 67px;
    background-image: url(../images/murakami.png);
}
.hotel {
    width: 82px;
    height: 83px;
    background-image: url(../images/hotel.png);
}
footer {
    /* border: 1px solid black; */
    background-color: #1b242d;
    width: 1200px;
    height: 90px;
    color: white;
}
.footer-in {
    /* border: 1px solid black; */
    margin: 0 auto;
    width: 1000px;
    height: 90px;
}
nav {
    margin-left: 32px;
}
ul {
    list-style-type: none;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}
li {
    color: white;
    margin-left: 1px;
}
