@keyframes  clock {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.main {
  margin: 0px auto;
  background-image: url('../images/clock.png');
  width: 435px;
  height: 435px;
  position: relative;
}
.arrow {
  position: absolute;
  margin-top: 107px;
  width: 216px;
  height: 110px;
  border: 1px solid black;
  border-right: 3px solid red;
  transform-origin: right bottom;
  animation: clock 60s infinite steps(60, end);
}

.clock::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: black;
  content: '';
  transform: translate(-50%, -50%);
}