.main {
height: 20px;
width: 150px;
margin-bottom: 5px;
margin-left: 20px;
background-color: darkgoldenrod;
border: 5px solid black;

}

.main:first-child {
  background-color: red;
}

.main:last-child {
  background-color: blue;
}

.main:nth-child(2n) {
  background-color: red;
}

.m {
  width: 80px;
  height: 80px;
  background-color: black;
}
.m:nth-child(2n) {
  background-color:white;
}
.m1 {
  margin-left: 40px;
  width: 80px;
  height: 80px;
  background-color: black;
}
.m1:nth-child(2n) {
  background-color:white;
}