*{
  box-sizing: border-box;
}
a {
  text-decoration: none;
}



div {
  border: 1px solid black;
  // padding: 5px;
  background-color: blanchedalmond;
  padding: 5px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 5px;
}

.body {
  margin: 0 auto;

  &__inner {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 0,3fr 1fr 1fr;
    grid-template-areas: "logo logo about"
                         "scrol circl circl"
                         "scrol flowers flowers"
                         "lin lin lin"
                         "texts texts texts"
                         "hills hills hills";

    &_logo {
      grid-area: logo;
      
      &-logo {
        width: 120px;
        height: 100px;
        background-image: url('../image/logo.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    &_about {
      grid-area: about;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &_scroll {
      grid-area: scrol;
      display: grid;
      overflow: scroll;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: "box1 ."
                           "box1 box2"
                           "box3 box2"
                           "box3 box4"
                           "box5 box4"
                           "box5 .";

      &-box1 {
        grid-area: box1;
      }

      &-box2 {
        grid-area: box2;
      }

      &-box3 {
        grid-area: box3;
      }

      &-box4 {
        grid-area: box4;
      }

      &-box5 {
        grid-area: box5;
      }
    }

    &_circle {
      grid-area: circl;
      display: grid;
      grid-template-columns: 4fr 1fr 4fr;
      grid-template-areas: "lef lef ."
                           ". rig rig";

      &-left {
        grid-area: lef;
        display: grid;
        grid-template-columns: 3fr 1fr;

        &-item {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          background-image: url('../image/1.jpg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }

      &-right {
        grid-area: rig;
        display: grid;
        grid-template-columns: 1fr 3fr;

        &-item {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          background-image: url('../image/2.jpg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }

    &_flowers {
      grid-area: flowers;
      background-image: url('../image/flowers.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &_line {
      grid-area: lin;
      width:100%;
      white-space:nowrap;
      overflow:hidden;
    }
    &_line span {
      display:inline-block;
      padding-left:100%;
      animation: marquee 6s infinite linear;
    }
    @keyframes marquee{
      0%{transform: translate(0, 0);}
      100%{transform: translate(-100%, 0)}
      }

    &_texts {
      grid-area: texts;
      display: flex;
      justify-content: space-between;
    }

    &_hills {
      grid-area: hills;
      background-image: url('../image/hills.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

@media (max-width: 400px) {
  .body {
    &__inner {
      grid-template-columns: 3fr 3fr;
      grid-template-rows: 1fr 1fr 2fr 1fr 1fr 1fr;
      grid-template-areas: "logo logo"
                           "about about"
                           "scrol circl"
                           "scrol flowers"
                           "texts texts"
                           "hills hills";

      &_logo {
        grid-area: logo;
      }
      &_about {
        grid-area: about;
      }
      &_scroll {
        grid-area: scrol;
      }
      &_circle {
        grid-area: circl;
        grid-template-columns: 1fr;
        grid-template-areas: "lef"
                             "rig";
        
        &-left {
          grid-area: lef;
          display: grid;
          grid-template-columns: 3fr 1fr;

          &-item {
            width: 50px;
            height: 50px;
          }
        }
        &-right {
          grid-area: rig;
          display: grid;
          grid-template-columns: 1fr 3fr;
  
          &-item {
            width: 50px;
            height: 50px;
          }
        }
      }
      &_flowers {
        grid-area: flowers;
      }
      &_texts {
        flex-direction: column;
        grid-area: texts;
      }
      &_hills {
        grid-area: hills;
      }
    }
  }
}