.main {
  margin: 0 auto;
  width: 900px;
  font-size: 3rem;
  display: grid;
  grid-template-columns: 900px;
  grid-template-rows: 80px 200px 80px;
  grid-template-areas: "logo"
                        "image"
                        "menu";
}
.main div {
  border: 1px solid black;
  box-sizing: border-box;
}
.main .logo {
  margin-top: 10px;
  grid-area: logo;
}
.main .image{
  background-color: blueviolet;
  margin-top: 10px;
  grid-area: image;
}
.main .menu {
  margin-top: 10px;
  grid-area: menu;
}
@media screen and (max-width: 650px) {
  .main {
    display: grid;
    grid-template-columns: 400px 250px;
    grid-template-rows: 80px 200px;
    grid-template-areas: "logo  menu"
                        "image  image";
  }
}