@import url('./fonts.css');

*{
  box-sizing: border-box;
}
a {
  text-decoration: none;
  display: inline-block;
}
li {
  list-style-type: none;
}
.container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 5px;
  background: linear-gradient(#64686A, #383B3D);
}
/* header */

.header__inner {
  background-image: url("../image/Star-Wars-Battlefront-II-combat.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 206px;
  padding-bottom: 200px;
}
.header__inner_text {
  margin: 0 auto;
  display: flex;
  max-width: 566px;
  justify-content: flex-end;
  margin-bottom: 134px;
}
.header__inner_text-about {
  display: flex;
  flex-direction: column;
}
.text-title {
  font-family: "OpenSans", sans-serif;
  color: #FFFFFF;
  font-size: 36px;
  line-height: 42px;
}
.text-perform {
  font-family: "OpenSans", sans-serif;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 14px;
}

.header__inner-buttons {
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  max-width: 850px;
}
.button-trailer {
  width: 136px;
  height: 38px;
  border-radius: 4px;
  background-color: #8DD83D;
  border: none;
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  margin-right: 13px;
}
.button-explore {
  width: 148px;
  height: 38px;
  border-radius: 4px;
  background-image: linear-gradient(#686C6F, #373A3C);
  border: none;
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}
.button-explore:hover {
  background-color: #8DD83D;
  background-image: none;
}

/* header_sidebar */

.header_sidebar_inner {
  background-color: #373A3C;
  padding-top: 2px;
}
.header_sidebar-main {
  max-width: 1070px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_sidebar-logo {
  width: 96px;
  height: 29px;
  cursor: pointer;
}
.header_sidebar-navigation {
  display: flex;
  justify-content: space-between;
  max-width: 782px;
  padding-top: 5px;
}
.navigation__menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.navigation__menu-items a {
  font-family: "OpenSans", sans-serif;
  color: #FFFFFF80;
  font-size: 16px;
  line-height: 16px;
}
.menu__items-list + .menu__items-list {
  margin-left: 25px;
}
.navigation__menu-items a:hover {
  color: #FFFFFF;
}
.menu__items-list::after {
  content: url("../image/Shape.svg");
  margin-left: 8px;
}
.navigation__menu-items li:last-child::after {
  content: none;
}
.navigation__input {
  padding-top: 6px;
  padding-left: 37px;
}
input {
  width: 210px;
  height: 38px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: #435766;
  padding-left: 15px;
}
.navigation__user div {
  margin-left: 30px;
  margin-top: 12px;
}
.navigation__user a {
  font-family: "OpenSans", sans-serif;
  color: #FFFFFF80;
  font-size: 16px;
  line-height: 16px;
}
.navigation__user a::before {
  content: url("../image/user.svg");
  padding-right: 5px;
  padding-top: 5px;
}
.navigation__user a::after {
  content: url("../image/Shape.svg");
  padding-left: 9px;
}

/* main */

.main__inner {
  padding-top: 64px;
  padding-bottom: 162px;
}
.main__inner-logo {
  width: 63px;
  height: 64px;
  margin: 0 auto;
  margin-bottom: 16px;
}
.inner_text-title {
  font-family: "OpenSans", sans-serif;
  font-size: 48px;
  line-height: 56px;
  color: #FFFFFF;
  margin: 0 auto;
  text-align: center;
}
.inner_text-some {
  font-family: "OpenSans", sans-serif;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
  margin: 0 auto;
  margin-bottom: 43px;
  text-align: center;
}
.main__inner_box {
  margin: 0 auto;
  max-width: 1070px;
  display: flex;
  justify-content: space-between;
}
.box-items {
  border: 1px solid #8DD83D;
  background: #FFFFFF;
  border-radius: 4px;
}

.box-item-img {
  width: 318px;
  height: 180px;
  background: #FAFAFA;
}
.img_logo-mixer {
  border-radius: 4px;
  padding: 53px 54px;
}
.img_logo-gold {
  border-radius: 4px;
  padding: 33px 59px;
}
.box-item-text {
  max-width: 278px;
  margin: 0 auto;
}
.box-item-title {
  font-family: "OpenSans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #435766;
  margin-top: 22px;
  margin-bottom: 13px;
}
.box-item-info {
  font-family: "OpenSans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #435766;
  margin-bottom: 38px;
}
.box-item-btn {
  border-radius: 4px;
  margin-bottom: 37px;
  text-align: center;
}
.box-item-btn a {
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  background-color: #8DD83D;
  padding-top: 19px;
  padding-bottom: 19px;
  width: 278px;
}

/* design */

.design__inner {
  background-image: url("../image/design.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 114px 167px 145px;
}
.inner_box-title {
  font-family: "OpenSans", sans-serif;
  font-size: 48px;
  line-height: 56px;
  color: #FFFFFF;
  padding-bottom: 9px;
}
.inner_box-perform {
  font-family: "OpenSans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  padding-bottom: 37px;
}
.inner_box-btns {
  display: flex;
  max-width: 500px;
  justify-content: space-between;
}
.btn-design a {
  width: 207px;
  height: 60px;
  background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
  border-radius: 4px;
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  padding: 20px 52px;
}
.btn-explore a {
  width: 278px;
  height: 60px;
  background: #8DD83D;
  border-radius: 4px;
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  padding: 19px 23px;
}

/* footer */

div {
  border: 1px solid green;
}

.footer__inner {
  padding-top: 58px;
  padding-bottom: 38px;
}
.footer__links {
  max-width: 852px;
  margin-left: 165px;
  display: flex;
  justify-content: space-between;
}
.footer__lists-title, .footer__contacts-title {
  font-family: "OpenSans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #7DD42F;
  padding-bottom: 34px;
}
.footer__lists a {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  padding-bottom: 29px;
}
.footer__contacts-socials {
  display: flex;
  justify-content: space-between;
}
.line {
  max-width: 1200px;
  margin: 0 auto;
  mix-blend-mode: normal;
  opacity: 0.35;
  border: 1px solid #FFFFFF;
  margin-top: 20px;
}
.footer__down {
  margin: 0 auto;
  max-width: 1200px;
}
.footer__down_inner {
  display: flex;
  justify-content: space-between;
  padding-top: 19px;
}
.down_inner-title {
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

@media (max-width: 960px) {
  .header__inner_text, .header__inner-buttons {
    display: block;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .header__inner-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .button-trailer {
    margin-right: 0;
    margin-bottom: 10px;
  }
}